@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body {
  display: grid;
  grid-template-areas: 
    "header header header"
    "left   main   right"
    "footer footer right";
  grid-template-columns: 200px 1fr 280px;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  
  background: #f9f9f9;
  margin: 0;
}

header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  padding: 30px;
  grid-area: footer;
  background-color: #8FA455;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

.TextWhite {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.TextMain {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
  color: #737373;
}

.TextGreen {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
  color: #8EA557;
}
